*.pyc

*.egg-info
dist
build

node_modules/

docs/_build

# Intellij
.idea/
*.iml
*.iws
env/
venv/
.cache/
.tox/
geckodriver.log
ghostdriver.log
.coverage

coverage.xml
.eggs/
db.sqlite3

_version.py
